{% extends 'base.html' %}
{% block content %}
<h3>Book a Lesson Slot</h3>

{% if available_slots %}
    <form method="POST">
        {% csrf_token %}
    <label for="slot">Select a Time Slot:</label>
    <select name="slot" id="slot" required>
        {% for schedule in schedules %}
            {% if not schedule.is_booked %} <!-- Only show available slots -->
                <option value="{{ schedule.id }}">
                    {{ schedule }}
                </option>
            {% endif %}
        {% endfor %}
        </select>
        <input type="text" name="booked_by" placeholder="Your Name" required>
        <input type="email" name="booked_email" placeholder="Your Email" required>
        <button type="submit">Book Now</button>
    </form>
{% else %}
    <p>No available booking slots.</p>
{% endif %}

{% endblock %}